.slide-page {
  position: fixed;
  top: 70px;
  left: 100%; /* start off-screen right */
  width: 100%;
  height: 90%;
  background: #fff;
  z-index: 100;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  /* padding-bottom: 4rem; */
}

.slide-page.open {
  transform: translateX(-100%); /* slide into view */
}

.slide-page.closed {
  transform: translateX(0); /* slide out */
}

.close-btn {
  position: fixed;
  width: max-content;
  right: 10px;
  top: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  z-index: 99;
  background-color: orange;
  border-radius: 50%;
}
